<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/"><img
        src="/img/logo.png"
        alt=""
      /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a
            class="navbar-brand text-light"
            target="_blank"
            href="https://www.google.com/"
          >Google</a></li>
        <li><a class="navbar-brand text-light" href="/">home</a></li>
        <li><a class="navbar-brand text-light" href="/news">new</a></li>

        <li><a class="navbar-brand text-light" href="/search">search</a></li>

        <li><a class="navbar-brand text-light" href="/courses">course</a></li>
        <li><a class="navbar-brand text-light" href="/courses/create">create</a></li>
        <li><a class="navbar-brand text-light" href="/me/stored/courses">my course</a></li>
      </ul>

    </div>
  </div>
</nav>